/* Basic CSS styling */
* {
  margin: 0;
  padding: 0;
}
html, body {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  width: 100%;
}
p {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin: 0;
}
ul, ol, li {
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 19px;
}
/* CSS for the Navbar */
.nav a, .nav-footer a, .nav p, .nav-footer p {
  font-size: 12px;
}
.nav {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  border-bottom: 2px solid black;
}
.nav__pages-list, .nav__sections-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}
.nav__pages-list-item, .nav__sections-list-item {
  width: 92px;
  text-align: center !important;
}
.nav__pages-link, .nav__sections-link {
  text-decoration: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav__sections-link--highlight{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav__pages-link:active, .nav__pages-link:hover, .nav__pages-link:focus, .nav__sections-link:active, .nav__sections-link:hover, .nav__sections-link:focus {
  text-decoration: none;
  color: #000000;
}
.nav__pages-link--active, .nav__pages-link--highlight, .nav__pages-link:hover, .nav__sections-link--active, .nav__sections-link--highlight, .nav__sections-link:hover {
  background: black;
  color: white;
}
.nav__logo-img {
  padding: 15px;
  width: 69px;
  height: auto;
}
/* CSS for the Header Section */
.header {
  padding: 0 5%;
  background: url("./assets/image-back.png") 0% 50%/cover no-repeat;
  height: calc(100vh - 80px);
}
.header__container {
  padding: 0 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.header__title {
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}
.header__copy, .header__tagline, .header__copy--lighter {
  width: 27%;
  font-family: "Overpass", Arial, Helvetica, sans-serif;
  font-size: 26px;
}
.header__copy--lighter {
  font-weight: lighter;
  font-size: 15px;
  line-height: 2 !important;
}
.header__copy, .header__copy--lighter {
  margin: 0 0 90px;
}
.header__tagline {
  margin: 0;
}
.tagline {
  font-weight: lighter;
  font-size: 18px !important;
  line-height: 1.25 !important;
}
.tagline span {
  font-weight: bold;
  text-transform: uppercase;
}
/* CSS for the Portfolio Section */
.portfolio {
  padding: 5% 5% 0;
  background: #E7E6E5;
}
#flipbook {
  width: 1152px;
  height: 752px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#flipbook .turn-page{
	background-color:#ccc;
  background-size: 100% 100%;
}
/* CSS for the graphics Section */
.graphics {
  padding: 0 5%;
  background: #E7E6E5;
  padding-top: 5%;
  padding-bottom: 5%;
}
.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.carousel-slides {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.carousel-slide {
  flex: 0 0 100%;
  transition: transform 0.3s ease-in-out;
  text-align: center;
}
.carousel-slide img {
  max-width: 50%;
  height: auto;
}
.carousel-slide.hidden {
  display: none;
}
.carousel-controls {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel-button {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
}
.prev {
  background-image: url('./assets/prev-arrow.png');
}
.next {
  background-image: url('./assets/next-arrow.png');
}
/* CSS for the Footer */
.nav-footer {
  padding: 0 5%;
  font-family: "Chivo", Arial, Helvetica, sans-serif;
  background: white;
  border-top: 2px solid black;
}
.nav-footer__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-footer__list-item {
  align-self: center;
}
.nav-footer__link {
  text-decoration: none;
  color: #000000;
}
.nav-footer__link:active, .nav-footer__link:hover, .nav-footer__link:focus {
  text-decoration: none;
  color: #000000;
}
.nav-footer__logo {
  padding: 15px;
  width: 69px;
  height: auto;
  margin: 0 auto;
}
.nav-footer__logo--small {
  padding: 15px;
  width: 32px;
  height: auto;
}
.nav-footer__social-icons {
  display: flex;
  gap: 20px;
}
