
    .M63kCb {
        background-color: rgba(255, 255, 255, 1);
    }
    
    .OUGEr {
        color: rgba(33, 33, 33, 1);
    }
    
    .duRjpb .OUGEr,
    .JYVBee .OUGEr,
    .OmQG5e .OUGEr {
        color: rgba(13, 13, 13, 1);
    }
    
    .iwQgFb {
        background-color: rgba(211, 211, 211, 1);
    }
    
    .ySLm4c {
        font-family: 'Open Sans', sans-serif;
    }
    
    .CbiMKe {
        background-color: rgba(13, 13, 13, 1);
    }
    
    .qeLZfd .zfr3Q,
    .qeLZfd .qnVSj,
    .qeLZfd .Glwbz,
    .qeLZfd .duRjpb,
    .qeLZfd .qLrapd,
    .qeLZfd .JYVBee,
    .qeLZfd .aHM7ed,
    .qeLZfd .OmQG5e,
    .qeLZfd .NHD4Gf,
    .qeLZfd .aw5Odc {
        color: rgba(33, 33, 33, 1);
    }
    
    .qeLZfd .dhtgD:hover {
        color: rgba(12, 12, 12, 1);
    }
    
    .qeLZfd .dhtgD:visited {
        color: rgba(13, 13, 13, 1);
    }
    
    .qeLZfd .iwQgFb {
        background-color: rgba(191, 191, 191, 1);
    }
    
    .qeLZfd .OUGEr {
        color: rgba(33, 33, 33, 1);
    }
    
    .qeLZfd .duRjpb .OUGEr,
    .qeLZfd .JYVBee .OUGEr,
    .qeLZfd .OmQG5e .OUGEr {
        color: rgba(13, 13, 13, 1);
    }
    
    .qeLZfd:before {
        background-color: rgba(231, 231, 231, 1);
        display: block;
    }
    
    .lQAHbd .zfr3Q,
    .lQAHbd .qnVSj,
    .lQAHbd .Glwbz,
    .lQAHbd .duRjpb,
    .lQAHbd .qLrapd,
    .lQAHbd .JYVBee,
    .lQAHbd .aHM7ed,
    .lQAHbd .OmQG5e,
    .lQAHbd .NHD4Gf,
    .lQAHbd .aw5Odc {
        color: rgba(255, 255, 255, 1);
    }
    
    .lQAHbd .dhtgD:hover {
        color: rgba(255, 255, 255, 1);
    }
    
    .lQAHbd .dhtgD:visited {
        color: rgba(231, 231, 231, 1);
    }
    
    .lQAHbd .iwQgFb {
        background-color: rgba(50, 50, 50, 1);
    }
    
    .lQAHbd .OUGEr {
        color: rgba(255, 255, 255, 1);
    }
    
    .lQAHbd .duRjpb .OUGEr,
    .lQAHbd .JYVBee .OUGEr,
    .lQAHbd .OmQG5e .OUGEr {
        color: rgba(231, 231, 231, 1);
    }
    
    .lQAHbd:before {
        background-color: rgba(13, 13, 13, 1);
        display: block;
    }
    
    .cJgDec .zfr3Q,
    .cJgDec .zfr3Q .OUGEr,
    .cJgDec .qnVSj,
    .cJgDec .Glwbz,
    .cJgDec .qLrapd,
    .cJgDec .aHM7ed,
    .cJgDec .NHD4Gf,
    .cJgDec .IFuOkc:before {
        color: rgba(255, 255, 255, 1);
    }
    
    .cJgDec .hDrhEe {
        background-color: rgba(33, 33, 33, 1);
    }
    
    .cJgDec .dhtgD:hover {
        color: rgba(231, 231, 231, 1);
    }
    
    .cJgDec .dhtgD:visited {
        color: rgba(231, 231, 231, 1);
    }
    
    .cJgDec .IFuOkc:before {
        background-color: rgba(13, 13, 13, 1);
        display: block;
    }
    
    .tpmmCb .zfr3Q,
    .tpmmCb .qnVSj,
    .tpmmCb .Glwbz,
    .tpmmCb .duRjpb,
    .tpmmCb .qLrapd,
    .tpmmCb .JYVBee,
    .tpmmCb .aHM7ed,
    .tpmmCb .OmQG5e,
    .tpmmCb .NHD4Gf,
    .tpmmCb .aw5Odc {
        color: rgba(255, 255, 255, 1);
    }
    
    .tpmmCb .dhtgD:hover {
        color: rgba(231, 231, 231, 1);
    }
    
    .tpmmCb .dhtgD:visited {
        color: rgba(231, 231, 231, 1);
    }
    
    .tpmmCb .iwQgFb {
        background-color: rgba(33, 33, 33, 1);
    }
    
    .tpmmCb .KjwKmc:hover {
        background-color: rgba(13, 13, 13, 0.1);
    }
    